.title {
  border: 1px solid var(--border-color);
  padding: 20px 130px;
  margin-top: 40px;
  border-radius: 4px;
  margin-bottom: 5px;
  font-size: 24 px;
  color: var(--primary-color);
  text-align: center;
  box-shadow: 10px 13px 13px -8px var(--border-color-shadow);
}
