.filter {
  margin-bottom: 15px;
  text-align: center;
}

.filterInput {
  margin-left: 20px;
  border-width: 1px;
  border-color: var(--border-color);
  font-size: 18px;
  color: var(--primary-color);
}

.filterInput:focus,
.filterInput:hover,
.filterInput:active {
  outline-color: var(--primary-color);
}
