.list {
  width: 390px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 10px 13px 13px -8px var(--border-color-shadow);
}

@media screen and (max-width: 500px) {
  .list {
    width: 320px;
  }
}
